<h1>Welcome, <%= @client.username %></h1>
<h2>Here are your list of certified instructors:</h2>

  <%Instructors.each do |instructor|%>
    <div>
      <h3>  <%= instructor.name %>
          <%= instructor.gym %> </h3>
        <%= instructor.specialty %>
    </div>
  <% end %>
