<p>Choose an instructor:</p>
<% @client.each do |client| %>
  <%=link_to instructor.name, client_instructor_path(current_client, instructor)%><br>
<%end%>
<%=link_to "Book a Training Session!", new_client_instructor_path(current_client)%>
