<h2>Choose an instructor:</h2>
<% @instructor.each do |instructor| %>
  <%=link_to instructor_path%><br>
<%end%>


<%=link_to "Book a Training Session!", new_instructor_path(current_client)%>
<%= link_to "View Specialties", training_path %>
<%= link_to "View Instructors", instructors_path %>
