<h2><%= @client.username %></h2>

<h3>Here are your list of certified instructors:</h3>

<% @instructor.each do |instructor| %>
    <li><%= link_to "#{instructor.name}", instructor_path(instructor.id) %></li>
  <% end %>
